.BoardContainer {
  width: 100%;
  height: 100%;
  margin: auto;
}


.back-button {
position: relative;
top: 18px;
left: 30px;
width: 48px;
height: 48px;
background-image: url('../assets/go_back_icon_gray.png');
background-repeat: no-repeat;
background-size: contain;
border: none;
background-color: white;
}



.content {
position: relative;
top: 38px;
left: 30px;
width: 920px;
height: 716px;
margin-bottom: 50px;
background-color: #f9f9f9;
padding: 8px;
overflow: hidden;
}

.head {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #d9d9d9;
    margin-bottom: 8px;
    }

.header-item {
flex: 1;
text-align: center;
font-weight: bold;

}

.post {
display: flex;
align-items: center;
width: 100%;
height: 28px;
background-color: #ffffff;
border-bottom: solid;
border-color: #bfbfbf;
border-width: thin;
}

.post-item-num {
flex: 1;
text-align: center;
}

.post-item-title {
flex: 1;
text-align: center;
cursor: pointer;
}

.post-item-writer {
flex: 1;
text-align: center;
}

.post-item-writedate{
flex: 1;
text-align: center;
}
.post-item-views {
  flex: 1;
  text-align: center;
  }

.post-item-recommend{
  flex: 1;
  text-align: center;
}
.writebtn {
position: relative;
left: 875px;
width: 90px;
height: 40px;
font-size: 17px;
margin-bottom: 100px;
}

